<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/body.css}" />
<script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>

<body onload="myFunction()">
	<div class="page">
		<th:block th:include="user/nav_user"></th:block>

		<div id="demo" class="carousel slide container hinhnen bg-info "
			data-ride="carousel">

			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>


			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/thuviensach1.jpg">
				</div>
				<div class="carousel-item">
					<img src="/images/thuviensach2.jpg">
				</div>
				<div class="carousel-item">
					<img src="/images/thuviensach3.jpg">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
		<!-- <th:block th:include="user/search"></th:block> -->
		<input id="b" th:value="*{b}" type="hidden" />
		<div class="row mx-0">
			<div class="col-1">
				<div class=""></div>

			</div>
			<div class="col-10">
				<div class="container mt-5 mb-5">
					<div class="favorite">
						<div class="">
							<label th:text="'Gợi ý'" class="h3 text-danger"></label>
						</div>

						<div class="row  px-2 mx-0">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 px-0"
								th:each=" book : ${books}">
								<div th:with="mycounter = ${counter.get()}">
									<div th:if="${mycounter}<8">
										<div th:with="mycounter=${counter.incrementAndGet()}"
											class="book">
											<a th:href="@{'/detail/'+*{book.id}}" class="d-flex  justify-content-center"> <img
												onmouseover="bigImg(this)" onmouseout="normalImg(this)"
												class="bookImg" th:src="@{'/images/'+*{book.image}}">
											</a> <a
												class="text-decoration-none d-flex justify-content-center text-center"
												th:href="@{'/detail/'+*{book.id}}" th:text="*{book.name}"></a>

											<p class="row justify-content-center" th:text="${book.price}"></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>


				<div th:each="type : ${types}">
					<div class="container border-bottom mt-5"
						th:with="mycounter = ${counter.clear()}">
						<div class="d-flex justify-content-between">
							<a class="h3 text-danger " style="text-decoration: none;"
								th:href="@{'/type'+*{type.id}}" th:text="*{type.name}"> </a> <a
								th:href="@{'/type'+*{type.id}}"
								th:text="'Xem tất cả sách '+*{type.name}"
								style="text-decoration: none;"> <i
								class="fas fa-angle-right"></i>
							</a>
						</div>
						<div class="row px-2 mx-0">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 px-0"
								th:each=" book : ${books}" th:if="*{book.typeId}==*{type.id}">
								<div th:with="mycounter = ${counter.get()}">
									<div th:if="${mycounter}<12">
										<div th:with="mycounter=${counter.incrementAndGet()}"
											class="book">
											<a th:href="@{'/detail/'+*{book.id}}" class="d-flex  justify-content-center"> <img
												onmouseover="bigImg(this)" onmouseout="normalImg(this)"
												class="bookImg" th:src="@{'/images/'+*{book.image}}">
											</a> <a
												class="text-decoration-none d-flex justify-content-center text-center"
												th:href="@{'/detail/'+*{book.id}}" th:text="*{book.name}"></a>

											<p class="row justify-content-center" th:text="${book.price}"></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>


		<th:block th:include="/user/footer"></th:block>
	</div>
	<script type="text/javascript">
		function myFunction() {
			var x = document.getElementById("b").value;

			if (x != "") {
				confirm(x)
			}

		}
	</script>
</body>

</html>