html, body {
	width: 100%;
	height: 100%;
}

.content {
	padding-top: 30px;
	margin-top: 130px;
	min-height: 600px;
	border-radius: 20px;
}

#bookImage {
	width: 120px;
	height: 180px;
}

#quantity {
	width: 40px;
}

.cart {
	margin: auto;
	border: 0;
	background: rgba(0, 0, 0, 0);
	color: black;
	width: 200px;
	text-align: center;
	text-decoration: none;
}
a{
	margin: 0
}